@font-face {
  font-family: 'San Francisco Display';
  src: url('SanFranciscoDisplay-Bold.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoDisplay-Bold.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoDisplay-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoDisplay-Bold.svg#f067643f4a3e701ed850f65a5d4575ff') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('SanFranciscoDisplay-Light.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoDisplay-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoDisplay-Light.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoDisplay-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoDisplay-Light.svg#faceadcdac62602c438a7592b32945af') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('SanFranciscoDisplay-Medium.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoDisplay-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoDisplay-Medium.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoDisplay-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoDisplay-Medium.svg#3d4f578d6b9f2f50f555d06a03b63db6') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('SanFranciscoDisplay-Regular.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoDisplay-Regular.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoDisplay-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoDisplay-Regular.svg#956a00afa01bc1c451fe27e4fe9442d6') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('SanFranciscoText-Medium.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoText-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoText-Medium.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoText-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoText-Medium.svg#6ecfb8b3cff20bab16ef597221095778') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('SanFranciscoText-Regular.eot'); /* IE9 Compat Modes */
  src: url('SanFranciscoText-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SanFranciscoText-Regular.woff') format('woff'), /* Modern Browsers */
       url('SanFranciscoText-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SanFranciscoText-Regular.svg#cd1119a8e2fbbfbfb2174b11b600c78b') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
