
<!-- <a  class="btn btn-secondary">Chromecast Connect</a> -->

<div class="dropdown dropdown-icon dropup">
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    <span ng-include="castIcon()" class="icon cast-icon inline-icon" ng-class="castIconClass()"></span>
    <!-- <img ng-src="{{castIcon()}}" class="icon cast-icon inline-icon" /> -->
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <a ng-if="_isc()" class="dropdown-item bg-danger" ng-click="$disconnect()">
      Disconnect
    </a>
    <a ng-repeat="device in devices()" class="dropdown-item" ng-click="$connect(device)">
      <span class="icon icon-fw icon-display"></span> {{device.txtRecord.fn}}
    </a>
  </div>
</div>

<!-- <pre>Devices: {{devices()|json}}</pre> -->
