<div class="video-view" ng-show="activeMedia" ng-class="{minified:minified}">
  <div class="video-splash">
    <div class="video-splash-bg" ng-style="{'background-image':'url(\'file://'+activeMedia.thumbnails.full+'\')'}"></div>
    <div class="video-splash-icon chromecast-icon" ng-if="playerType==CHROMECAST_PLAYER" ng-include="'../images/chromecast/ic_cast_connected_24dp.svg'"></div>
  </div>

  <div class="video-content" ng-show="(playerState==STATE_PLAYING||playerState==STATE_PAUSED) && playerType!=CHROMECAST_PLAYER"><video id="thevideo"></video></div>

  <!-- <div class="video-splash-overlay" ng-class="{active:(playerState!=STATE_PLAYING||mouseActive||playerType==CHROMECAST_PLAYER)}" ng-hide="minified">
    <div class="video-splash-overlay-content">
      <h3 class="video-splash-overlay-title">{{activeMedia.file.name}}</h3>
      <p class="video-splash-overlay-sub text-muted">
        <span class="inline-item"><span class="icon icon-clock"></span> {{activeMedia.meta.duration|hhmmss}}</span>
        <span class="inline-item"><span class="icon icon-info"></span> {{activeMedia.meta.format}}</span>
        <span class="inline-item"><span class="icon icon-drive"></span> {{activeMedia.file.size|bytes}}</span>
      </p>
    </div>
  </div> -->


  <div class="video-loading" ng-if="playerState==STATE_LOADING">
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring-alt">
      <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
      <circle class="spinner-track" cx="50" cy="50" r="40" stroke="#000000" fill="none" stroke-width="10" stroke-linecap="round"></circle>
      <circle class="spinner-fill" cx="50" cy="50" r="40" stroke="#11ffc3" fill="none" stroke-width="6" stroke-linecap="round">
        <animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502"></animate>
        <animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="125.5 125.5;1 250;125.5 125.5"></animate>
      </circle>
    </svg>
  </div>

  <div class="video-overlay" ng-class="{active:(playerState!=STATE_PLAYING||mouseActive||playerType==CHROMECAST_PLAYER)}">
    <div class="video-overlay-title" ng-hide="minified">
      <h3>{{activeMedia.file.name}}</h3>
      <div class="text-muted">
        <span class="inline-item"><span class="icon icon-clock"></span> {{activeMedia.meta.duration|hhmmss}}</span>
        <span class="inline-item"><span class="icon icon-info"></span> {{activeMedia.meta.format}}</span>
        <span class="inline-item"><span class="icon icon-drive"></span> {{activeMedia.file.size|bytes}}</span>
      </div>
    </div>

    <div class="video-overlay-actions">
      <a class="video-btn" href ng-click="$minify()"><span class="icon" ng-class="minified?'icon-circle-up':'icon-circle-down'"></span></a>
      <a class="video-btn" href ng-click="$stop()" ng-hide="minified"><span class="icon icon-cross"></span></a>
    </div>
  </div>
</div>
