
<div class="list-group list-group-bordered" context-group>

  <div ng-repeat="item in list() track by $index" ng-click="$select(item)" ng-dblclick="$play(item)" class="list-group-item" ng-class="{active:_activeMedia().id==item.id,selected:selected==item.id}" context-row="item">



    <div class="list-group-art">
      <img ng-src="{{item|loader}}" class="list-group-image" />
    </div>
    <!-- <span class="icon icon-file-video"></span> -->
    <div class="list-group-content">
      <div class="list-group-static list-group-main">{{item.file.name}}</div>
    </div>

    <div class="list-group-right">
      <span class="inline-item"><span class="icon icon-clock"></span> {{item.meta.duration|hhmmss}}</span>

    </div>
    <div class="list-group-right">
      <div class="list-group-static list-group-sub text-muted">
        <!-- <span class="inline-item"><span class="icon icon-info"></span> {{item.meta.format}}</span> -->
        <span class="inline-item"><span class="icon icon-drive"></span> {{item.file.size|bytes}}</span>
      </div>

      <!-- <div class="dropdown">
        <a class="btn dropdown-toggle" ng-click="$context($event)" data-toggle="dropdown">
          <span class="icon icon-circle-down"></span>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" ng-click="$delete(item)">
            <span class="icon icon-cross"></span> Remove
          </a>
        </div>
      </div> -->



    </div>

  </div>


  <div class="context" ng-class="{open:isOpen()}">
    <div class="context-menu" ng-style="contextStyle()">
      <a class="dropdown-item" ng-click="item_play()">
        <span class="icon icon-play"></span> Play
      </a>
      <a class="dropdown-item" ng-click="item_queue()">
        <span class="icon icon-list2"></span> Add to Queue
      </a>
      <a class="dropdown-item" ng-click="item_edit()">
        <span class="icon icon-pencil2"></span> Edit
      </a>
      <a class="dropdown-item" ng-click="item_remove()">
        <span class="icon icon-cross"></span> Remove
      </a>
    </div>
  </div>

</div>
