<nav class="navbar">

  <div class="navinfo">
    <div class="navinfo-art" ng-style="(_activeMedia().thumbnails.square|bgImage)"></div>
    <div class="navinfo-info">
      <div class="navinfo-info-heading"><a href>{{_activeMedia().file.name||'&nbsp;'}}</a></div>
      <div class="navinfo-info-subheading text-muted">{{_playerStatus().currentTime|hhmmss}} / {{_activeMedia().meta.duration|hhmmss}}</div>
    </div>
  </div>


  <div class="navmain">
    <div class="navmain-controls">
      <ul class="nav navbar-nav">
        <!-- <li class="nav-item">
          <a href ng-click="$stop()"><span class="icon icon-stop2"></span></a>
        </li> -->

        <li class="nav-item" ng-class="{disabled:_controlDisabled()}">
          <!-- <a href ui-sref="settings"><span class="icon icon-cog"></span></a> -->
          <a href ng-click="$captions()"><span class="icon icon-bubble"></span></a>
          <!-- <div class="dropdown dropup">
            <a class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon icon-cog"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">Video Settings</a>
              <a class="dropdown-item">Caption Settings</a>
            </div>
          </div> -->
        </li>
        <li class="nav-item" ng-class="{disabled:_controlDisabled()}">
          <a href><span class="icon icon-backward2"></span></a>
        </li>
        <li class="nav-item nav-item-center" ng-class="{disabled:_controlDisabled()}">
           <!-- ng-class="{disabled:_playerStatus().state==_rootStatus('STATE_STOPPED')}"> -->
          <a href ng-click="$pause()"><span class="icon" ng-class="_playerStatus().state==_rootStatus('STATE_PLAYING')?'icon-pause2':'icon-play3'"></span></a>
        </li>
        <li class="nav-item" ng-class="{disabled:_controlDisabled()}">
          <a href><span class="icon icon-forward3"></span></a>
        </li>
        <li class="nav-item" ng-class="{disabled:_controlDisabled()}">
          <a href ng-click="$fullscreen()"><span class="icon icon-enlarge2"></span></a>
        </li>
        <!-- <li>

          <pre>
            {{_playerStatus()}}
          </pre>
        </li> -->
      </ul>
    </div>
    <div class="navmain-progress">
      <slider-input data-onchange="$seek" data-disabled="!_activeMedia()" data-value="{{_timeMath()}}"></slider-input>
    </div>
  </div>

  <ul class="navright nav navbar-nav nav-right">
    <li class="nav-item">
      <a href ng-click="$mute()"><span class="icon icon-volume-low"></span></a>
      <slider-input data-oninput="$volume" data-value="{{_playerStatus().volume}}"></slider-input>
    </li>
    <li class="nav-item chromecast" chromecast-button>
    </li>
  </ul>
</nav>
